<% if article.errors.any? %>
    <ul>
        <% for msg in article.errors.full_messages %>
            <li><%= msg %></li>
        <% end %>
    </ul>

<% end %>

<%= form_for(article) do |f| %>
<p>
<%= f.label :title %><br>
<%= f.text_field :title %>
</p>
<p>
<%= f.label :content %><br>
<%= f.text_area :content %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>