<p id="notice"><%= notice %></p>

<p>
<% if @post.image.attached? %>
		<%= cl_image_tag(@post.image.key) %>
<% end %>
	</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Flagged:</strong>
  <%= @post.flagged %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
