<p id="notice"><%= notice %></p>

<h2><%= link_to 'Home', :root %> |
<%= link_to 'Authors', :authors %> |
<%= link_to 'Books', :books %></h2> 

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @book.author.name, @book.author %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> 
