<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @author.image %>
</p>

<p>
  <strong>Books:</strong>
  
  <% for book in @author.books %>
    <p><%= link_to book.title, book %></p>
  <% end %>
        
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
